*{  /* Убираем отступы */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.header-content {
  background: #0054a4;
  height: 30px;
}
.wrapper{
  position: relative;
  max-width: 1200px;
  height: inherit;
  margin: 0 auto;
  padding: 0 15px;
}