@import "constclass";


.headItem{
  &__social{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 33px;
    p{
      font-size: 9pt;
      font-family: 'OpenSans', sans-serif;
    }//p
    a{
      color: white;
      margin-right: 18px;
    }//a
    ul {
      list-style-type: none; /* Убираем маркеры */
      li{
        display: inline-block;
        font-size: 22px;
      }//li
    }//ul
  }//social
  &__logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }//logo
}//headItem
.menuItem{
  display: flex;
  margin-right: 16px;
  height: 93px;
  align-items: center;
  justify-content: flex-end;
  a{
    &:hover{
      padding: 0 9px;
      color: #0054a4;
    }//hover
  }//a
  ul{
    li{
      display: inline-block;
      a{
        display: block;
        height: 38px;
        padding: 1px 10px;
        font-family: 'OpenSans',serif;
        letter-spacing: -0.1px;
        font-size: 17px;
        color: rgba(0, 0, 0, 0.48);
        line-height: 38px;
      }//a
    }//li
  }//ul
  &__menuBar{
    align-items: center;
    ul{
      display: flex;
      list-style-type: none; /* Убираем маркеры */
      li{
        a{
          &:hover{
            border: 1px #0054a4 solid;
            border-radius: 20px;
            background-color: #eeeeee;
            transition: background-color 0.5s;
          }//hover
        }//a
      }//li
    }//ul

  }//menuBar
  &__burgerMenu{
    margin-right: 16px;
    cursor: pointer;
    display: none;
    position: relative;
    //&:hover .menu-item{
    //  display: block;
    //}
    //&-active{
    //   display: block;
    // }

    .menu-icon{
      i{
        font-size: 32px;
        color: #a8a8a8;
      }//i
    }//menu-icon
    .menu-item{
      display: none;
      //&.-active{
      //  display: block;
      //}
      ul{
        right: 4px;
        z-index: 300;
        background-color: rgba(255, 255, 255, 0.82);
        user-select: none;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
        position: absolute;
        text-align: right;
        top: 30px;
        left: -90px;

        //&:hover{
        //  display: block;
        //}//hover
        li{
          display: block;
          margin-bottom: 5px;
          a{
            display: block;
            height: 38px;
            padding: 5px 20px;
            font-family: 'OpenSans', serif;
            letter-spacing: -0.1px;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.48);
            line-height: 38px;
            &:hover{
              color: #0054a4;
              background: white;
            }
          }//a
        }//li
      }//ul
    }//menu-item
    & .menuItem-active{
      display: block;
    }
  }//burgerMenu
  &__donate{
    width: 162px;
    height: 46px;
    background: #f15b4f;
    color: white;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    p{
      font-size: 14px;
      font-weight: 600;
      line-height: 46px;
      text-align: center;
      display: inline-block;
      margin-right: 15px;
      text-transform: uppercase;
      font-family: 'GalanoGrotesque', sans-serif;

    }//p
    i{
      font-size: 20px;
      line-height: 46px;
    }//i
    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
      transition: all .2s;
    }//hover
    &fas {
      font-size: 22px;
      position: relative;
    }//fas
  }//donate
}//menuItem

.slider {
  max-width: 100%;
  height: 52vh;
  background: url(../image/background.jpg) no-repeat center;
  background-size: cover;
}//slider
.leftblockItem{
  width: 418px;
  &__info{
    h1 {
      font-size: 60px;
      font-family: 'Lobster', sans-serif;
      color: #0054a4;
      font-weight: 400;
    }//h1
    p {
      font-family: 'OpenSans', sans-serif;
      font-size: 18px;
      color: #000;
      font-weight: 400;
      margin: 28px 0;
    }//p
  }//info
  &__buttons{
    display: flex;
    .button{
      font-family: 'GalanoGrotesque', sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: white;
      width: 162px;
      height: 46px;
      border-radius: 23px;
      text-transform: uppercase;
      text-align: center;
      line-height: 46px;
      &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
        transition: all .2s;
      }//hover
    }//button
    .first{
      background: #f15b4f;
      margin-right: 15px;
    }//first
    .second{
      background: #0054a4;
    }//second
  }//buttons
}//leftblockItem
.content{
  display: flex;
  align-items: center;
  height: 85%;
}
.blockItem{
  border-radius: 30px;
  padding: 30px 25px 30px 20px;
  box-sizing: border-box;
  width: 376px;
  height: 164px;
  display: flex;
  justify-content: space-between;
  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
  }
  &__icon{
    width: 70px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 50%;
    flex-shrink: 0;
    align-self: center;
    i {
      font-size: 40px;
    }//i
  }//icon
  &__data {
    p{
      font-size: 26px;
      font-family: "Lobster", sans-serif;
      color: white;
      text-transform: capitalize;
    }//p
    .line span{
      width: 50%;
      display: block;
      margin-bottom: 10px;
      border-bottom: 2px solid #cccccc;
    }//span
    .text p{
      font-size: 14px;
      font-family: "OpenSans", sans-serif;
      color: white;
    }//p
  }//data
  &__arrow{
    margin-left: 15px;
    display: flex;
    i {
      color: white;
      font-size: 32px;
    }//i
  }//arrow
  &.green{
    background: #6fbd2a;
    color: #6fbd2a;
  }//green
  &.red{
    background: #f15b4f;
    color: #f15b4f;
  }//red
  &.blue{
    background: #0054a4;
    color: #0054a4;
  }//blue
}//blockItem
.blocks{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -80px;
}//blocks
.paddingItem{
  &__header{
    h1 {
      font-size: 40px;
      font-family: "Lobster", sans-serif;
      color: black;
      text-align: center;
      font-weight: 400;
    }//h1
    p {
      font-size: 16px;
      font-family: "OpenSans", sans-serif;
      color: black;
      text-align: center;
      margin-bottom: 70px;
      margin-top: 25px;
    }//p
  }//header
  &__information{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    .picture{
      width: 32%;
      display: flex;
      align-items: center;
      flex-direction: column;
      p {
        color: #a8a8a8;
        font-size: 22px;
        font-family: "Lobster", sans-serif;
        margin-bottom: 0;
        text-transform: capitalize;
        margin-top: 35px;
      }//p
      h2 {
        color: #0054a4;
        font-size: 40px;
        font-family: "Lobster", sans-serif;
        text-transform: capitalize;
      }//h2
    }//picture
  }//information
}//paddingItem


.calendar-section{
  padding: 70px 0;
  background-color: #f1f1f1;
  .section-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .calendarItemsSection{
      display: flex;
      justify-content: space-between;
      .calendarItem{
        margin: 10px auto 10px auto;
        background-color: #fff;
        width: 362px;
        height: 584px;
        align-items: center;
        text-align: center;
        border: 1px solid #dddddd;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:hover {
          cursor: pointer;
          box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
          transition: all .2s;
        }
        &__imgLogo {
          margin-top: -66px;

        }//logo
        &__itemsTextHeader{
          p{
            color: #747474;
            font-size: 24px;
            line-height: 1.2;
            font-family: "Lobster", sans-serif;
          }
        }//itemsTextHeader
        &__itemsTextDescription{
          width: 90%;
          color: #a8a8a8;
          font-size: 16px;
          line-height: 1.5;
          font-family: "OpenSans", sans-serif;
        }//itemsTextDescription
        &__date{
          font-size: 15px;
          font-family: "OpenSans", sans-serif;
          p{
            color: #747474;
          }
          span{
            color: #0054a4;
          }
        }//date
      }//calendarItem
    }//calendarItemsSection
  }//section-flex
}//calendar-section
.video-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 0;

    .videoItemsSection {
      display: flex;
      justify-content: space-between;
      .videoItems {
        margin-right: 15px;
        p{
          font-family: "OpenSans", sans-serif;
          font-size: 16px;
          line-height: 1.5;
        }
        &:last-child {
          margin-right: 0;
        }
        &__video {
          margin-bottom: 20px;
          width: 575px;
          height: 320px;

        } //video
      } //videoItems
    }//videoItemsSection
}//video-section
.newsItemsSection {
  display: flex;
  justify-content: space-between;
  .newsItems {
    width: 362px;
    height: 442px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
      transition: all .2s;
    }
    //hover
    &__wrapperItems {
      padding: 30px 32px 30px 57px;
      height: 100%;
      align-items: flex-start;
      justify-content: space-between;
      display: flex;
      flex-direction: column;

      .itemsTextHeader{
        color: #747474;
        font-size: 24px;
        line-height: 1.2;
        font-family: "Lobster";

      }
      .newsButton {
        text-transform: uppercase;
        width: 116px;
        height: 30px;
        border-radius: 5px;
        line-height: 26px;
        text-align: center;
        color: white;
        font-size: 13px;
        font-family: "GalanoGrotesque";
        top:0;

        &.green {
          background: #6fbd2a;
        }
        &.red {
          background: #f15b4f;
        }
        &.blue {
          background: #0054a4;
        }
        &:hover {
          cursor: pointer;
          box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
          transition: all .2s;
        }
        //hover
      }
      //newsButton
    }//__wrapperItems
  }//newsItems
}//newsItemsSection
.volunteer-section {
  width: 100%;
  height: 640px;
  background: url("../image/volunteer.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .volunteerMainBlock {
    box-sizing: border-box;
    width: 421px;
    height: 400px;
    padding: 51px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    &__textHeader{
      line-height: 1;
      font-size: 32px;
      color: black;
      font-family: "Lobster", sans-serif;
    }//textHeader
    &__text{
      line-height: 1;
      color: black;
      font-size: 60px;
      font-family: "Lobster";
    }//text
    &__textFon{
      width: 95%;
      font-weight: 400;
      color: #a8a8a8;
      font-size: 18px;
      line-height: 1.5;
      font-family: Arial;
    }//textFon
    &__button{
      margin-top: 30px;
      width: 195px;
      height: 51px;
      border-radius: 26px;
      border: 1px solid #0054a4;
      text-transform: uppercase;
      line-height: 45px;
      font-weight: 500;
      color: #0054a4;
      font-size: 18px;
      font-family: Arial;
      &:hover {
        cursor: pointer;
        background-color: #0054a4;
        color: white;
        transition: all .4s;
      }
    }//button
  }//volunteerMainBlock
}//volunteer-section
.partners-section {
  width: 100%;
  padding: 70px 0;
  align-items: center;
  justify-content: center;
  display: flex;
  .wrapper-slider{
    position: relative;
    .scroll{
      position: absolute;
      z-index: 999;
      width: 49px;
      height: 49px;
      color: #a8a8a8;
      border: 1px solid #a8a8a8;
      border-radius: 50%;
      line-height: 49px;
      text-align: center;
      font-size: 28px;
      &:hover {
        cursor: pointer;
        color: #0054a4;
        border: 1px solid #0054a4;
      }
      &.left {
        top: 45px;
        left: -70px;
      }//left
      &.right{
        top: 45px;
        right: -70px;
      }//right
    }//scroll
    .slider-visible {
      position: relative;
      display: flex;
      width: 1044px;
      justify-content: space-between;
      align-items: flex-end;
      overflow: hidden;
      transition: 0.5s;
      .slider-items{
        user-select: none;
        margin-right: 25px;
        opacity: 1;
        transition: all 1.5s;
      }//slider-items
    }//slider-visible
  }//wrapper-slider
}//partners-section
.footer-section {
    box-sizing: border-box;
    background: white url("../image/footer-bg.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 420px;
    padding: 70px 0;
    .wrapper {
      height: 100%;
      .footer-main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        color: white;
        .block-header{
          font-size: 22px;
          line-height: 1.2;
          font-family: "Lobster";
        }
        .separator {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 30px 0 40px 0;
          .thick {
            background-color: #659a37;
            width: 54px;
            height: 5px;
          }
          .thin {
            width: 79px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.2);
          }
        }

        .site-links{
          margin-right: 10px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .links{
            font-size: 14px;
            line-height: 0.6;
            font-family: "OpenSans";
            ul {
              list-style: none;
              li {
                margin-bottom: 16px;
                a {
                  color: rgba(255, 255, 255, 0.5);
                  padding: 8px 0;
                  text-decoration: none;
                }
              }
            }
          }
        }//site-links
        .contact-us {
          flex-basis: 30%;
          margin-right: 10px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;


        }//contact-us

      }//footer
    }//wrapper
  }//footer-section
.footerLogo{
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  &__img {
    margin-bottom: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__icon{
    font-size: 24px;
    line-height: 1.2;
    ul {
      justify-content: center;
      display: flex;
      list-style: none;
      li {
        margin: 0 15px;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}//footer-logo
.stay-in-touch{
  .block-header{
    font-size: 22px;
    line-height: 1.2;
    font-family: "Lobster";
  }
  .separator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0 40px 0;
    .thick {
      background-color: #659a37;
      width: 54px;
      height: 5px;
    }
    .thin {
      width: 79px;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .button {
    width: 219px;
    height: 41px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #f15b4f;
    font-size: 16px;
    font-family: "GalanoGrotesque";
    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
      transition: all .2s;
    }
  }
}//stay-in-touch
.adress-section {
  justify-content: flex-start;
  margin-bottom: 24px;
  display: flex;
  .adress-icon{
    margin-right: 15px;
    margin-top: -2px;
    color: white;
    font-size: 18px;
    line-height: 1.5;
  }//adress-icon
  .adress-info{
    color: rgba(255, 255, 255, 0.51);
    font-size: 15px;
    font-family: "OpenSans";
    p {
      margin-bottom: 10px;
    }
  }//adress-info
}//adress-section
.phone-section {
  justify-content: flex-start;
  display: flex;
  .phone-icon{
    margin-right: 15px;
    margin-top: -2px;
    color: white;
    font-size: 18px;
    line-height: 1.5;
  }
  .phone-info {
    color: rgba(255, 255, 255, 0.51);
    margin-top: 3px;
    font-size: 15px;
    font-family: "OpenSans";

  }
}//phone-section
.copyright {
    width: 100%;
    height: 47px;
    background-color: #003b7b;
    line-height: 47px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-family: "OpenSans"
  }//copyright
@import "media";